<footer>
    <p class="left-edge">Cocktail✦Compass developed using <a href="https://www.thecocktaildb.com/api.php" target="_blank" rel="noopener noreferrer">The Cocktail DB</a></p>
    <p class="right-edge">&copy; 2023, ems22 {E></p>
</footer>
</body>
</html>