<footer>
    <p class="left-edge">Credits: <a href="https://www.thecocktaildb.com/api.php" target="_blank" rel="noopener noreferrer"><small>Cocktail DB</small></a></p>
    <p class="right-edge">&copy; 2023 E></p>
</footer>
</body>
</html>
