<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Cocktail✦Compass</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="/images/Cocktail_Compass.png" alt="Cocktail Compass Logo">
        </a>
        <nav>
            <form action="/search" method="post">
                <input id="page" type="hidden" name="page" value="1">
                <input id="search" type="search" placeholder="Cocktail Name" name="search" autocomplete="off" required>
                <input id="search-btn" type="submit" name="search-btn" value="Search">
            </form>
        </nav>
    </header>